h1 {
  color: yellow;width: ;background-color: Blue; text-shadow: 2px 2px red
}
h2 {
  color: White; background-color: Brown;
}
h3 {
  color: red;
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
