body {
  background-color: lightgrey;
}
h1 {
  color: Tomato; width: 165px; font-family: "Comic Sans MS", cursive; text-shadow: 5px 5px 5px grey;
}
a {
  color: white; width: 155px; font-family: "Comic Sans MS", cursive;
}
