.gridcontainer{
  display: grid;
  grid-template-columns: 12.5% 1fr 1fr 12.5%;
  grid-template-rows: 100px repeat(3, 300px 90px);
  grid-gap: 10px;
  position: relative;
}
.griditem1{
  background-color: blue;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
header{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: green;
}
body{
  margin: 0;
}
.Overskrift{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
